body {
  font-family: arial, Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.2em;
  margin: 0;
  padding: 0;
  background-color: #1a1b26;
  color: #a9b1d6;
}

.container {
  margin: auto;
  width: 40%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

h1,
h3 {
  color: #7dcfff;
}

.nav {
  position: fixed;
  opacity: 70%;
  background-color: #0f0f14;
  width: 100%;
  padding: 10px;
}

.nav ul {
  list-style: none;
  margin: 0;
}

.nav li {
  display: inline;
}

.nav a {
  text-decoration: none;
  color: #a9b1d6;
  font-size: 18px;
  padding-right: 15px;
}

#introduction {
  display: flex;
  flex-direction: row-reverse;
  gap: 50px;
}

#introduction .title h1 {
  color: #7aa2f7;
}
#introduction h1 {
  font-size: 40px;
  line-height: 40px;
}

#introduction p {
  font-size: 20px;
}
#introduction img {
  width: 150px;
  border-radius: 50%;
  overflow: hidden;
}

h3 {
  padding: 0;
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 4px;
}

.content,
container {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 90%;
}

.button-container {
  display: flex;
  align-self: center;
}

.music-button {
  padding: 10px 30px;
  background-color: #414868;
  color: #a9b1d6;
  font-weight: bold;
  border: none;
  border-radius: 8px;
}

.music-button:hover {
  background-color: #24283b;
}

.music-button:active {
  background-color: #0f0f14;
}
